*{
    padding: 0;
    margin: 0;
    
}

#mee{

    padding: 9px;
    margin: 10px;
   font-size: 40px;
   text-align: center;
   color: white;
   background-color: black;
   
   
}

img{
    width: 175 px;
    border-radius: 530px;
    padding: 3px;
    margin: 4px;
    height: 320px;

}
header{
    text-align: center;
    background-color: black;

}

body{
    background-color: black;
    color: white;
    text-align: center;
    letter-spacing: 2px;
}

marquee{
    color: yellow;
    height: 54px;
    text-align: center;
}

a:hover{
    
    color:green;
}
