*{
    padding: 0;
    margin: 0;
    
}

p {
    font-size: 2;
    font-weight: 50px;
  }

#mee{

    padding: 9px;
    margin: 10px;
   font-size: 40px;
   text-align: center;
   color: white;
   background-color: black;
   
   
}

img{
    width: 175 px;
    border-radius: 30px;
    padding: 3px;
    margin: 4px;
    height: 330px;
    vertical-align: center;

}
header{
    text-align: center;
    background-color: black;

}

body{
    background-color: black;
    color: white;
    text-align: center;
    letter-spacing: 2px;
}

marquee{
    color: yellow;
    height: 54px;
    text-align: center;
}

a:hover{
    
    color:white;
}

.mySlides {
    display: none;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  /* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }
